* {
  box-sizing: border-box;
  font-family: 'Pretendard Variable', Pretendard;
}
html,
body {
  height: 100%;
  width: 100%;
}

$white-color: #fff;
$main-color: #005ce6;

$large-font-size: 16px;
$medium-font-size: 14px;
$small-font-size: 12px;
